* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #98C0FF;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    height: 100vh;

    .title {
        text-align: center;
        margin-top: 20vh;
        text-transform: uppercase;
        color: #fff;
    }

    .users {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;

        .user {
            margin: 0 30px;
            cursor: pointer;

            &__avatar {
                text-align: center;

                &-img {
                    border-radius: 10%;
                    padding: 5px;
                }

                &-img:hover {
                    box-shadow: 1px 1px 15px 5px #fff;
                }
            }

            &__name {
                margin-top: 10px;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                color: #fff3f3;
            }
        }
    }

    .hidden {
        display: none;
    }

    .chat {

        &__nav {
            background: #323232;
            border-radius: 5px 5px 0 0;
        }

        &__user {
            display: flex;
            justify-content: start;
            align-items: center;
            color: #fff;
            max-width: 120px;
            padding: 18px 20px;

            &-svg {
                max-height: 70px;
                border-radius: 50%;
            }

            &-data {
                padding-left: 10px;
            }
        }

        &__window {
            height: 76.4vh;
            padding: 1px;
            background-color: #F2F7FF;
            background-image: url('../assets/icons/backgroung.png');
        }

        &__user-message {
            background: #D0DCFF;
            max-width: 50%;
            padding: 10px;
            margin: 10px;
            border-radius: 15px 15px 0px 15px;
            margin-left: auto;

            small {
                color: #5a5a5a;
                font-size: 10px;
            }
        }

        &__friend-message {
            background: #C4BFFF;
            max-width: 50%;
            padding: 10px;
            margin: 10px;
            border-radius: 15px 15px 15px 0;

            small {
                color: #5a5a5a;
                font-size: 10px;
            }
        }

        &__form {
            background: #323232;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 5px 5px;

            &-inp {
                background: #323232;
                width: 85%;
                color: #fff;
                outline: none;
                margin: 20px 0 20px 20px;
                border: none;
            }

            button {
                background: #323232;
                border: none;
                cursor: pointer;
                margin-right: 20px;
                margin-top: 5px;
            }
        }



    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000bb;
    display: flex;
    align-items: center;
    justify-content: center;

    &__window {
        display: flex;
        flex-direction: column;
        height: 188px;
        width: 312px;
        border-radius: 28px;
        padding: 24px;
        background: #F2F7FF;

        &-title {
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: #1C1B1F;
        }
    }

    input {
        background: #E7E0EC;
        margin-top: 16px;
        min-height: 40px;
        padding: 0 16px;
        outline: none;
        border: none;
        border-bottom: 1px solid #000000ee;

        &:focus {
            outline: none;
        }
    }

    &__buttons {
        display: flex;
        margin-top: 24px;
        margin-left: auto;
        column-gap: 8px;

        button {
            padding: 10px 12px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
        }

        &-cancel {
            color: #CF1B1B;
            border: none;
            border-radius: 5px;
            background: #F2F7FF;

        }

        &-send {
            color: #6750A4;
            border: none;
            border-radius: 5px;
            background: #F2F7FF;

        }
    }
}

.hidden {
    display: none;
}